<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>

<body>
    <h1>Greetings, human</h1>
    <form action="/post" method="post">
        <ul>
            <li>
                <label for="field1">Field 1:</label>
                <input type="text" id="field1" name="one">
            </li>
            <li>
                <label for="field2">Field 2:</label>
                <input type="text" id="field2" name="two">
            </li>
            <li class="button">
                <button type="submit">Send</button>
            </li>
        </ul>
    </form>
</body>
</html>